body{
	font-family: "Roboto", sans-serif !important;
	background-color: #F0F2F5;
}
.header{
	background-color: white;
	box-shadow: 0 5px 5px -4px rgb(209, 208, 208);
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	position: fixed;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 10;
}
.xe3v8dz{
	color:white
}
.round-fb-icon{
	color: #0866FF;
}
.flex-items-center{
	display: flex;
	align-items: center;
	position: relative;
}
.search{
	width: 240px;
	height: 40px;
	border-radius: 20px;
	border: none;
	outline: none;
	background-color: #F0F2F5;
	padding-left: 30px;
	margin-left: 8px;
	z-index: 2;
	box-sizing: border-box;
	transition: padding-left 0.3s ease-in-out;
}
.search-lists{
	width: 320px;
	height: 0;
	background-color: white;
	box-shadow: 4px 4px 4px -4px #747474;
	position: absolute;
	left: -20px;
	top:-10px;
	border-radius: 8px;
	overflow: hidden;
	transition: height 0.001s ease-in-out;
}
.search:focus{
	padding-left: 15px;
}
.search:focus-within+.search-lists{
	height: 530px;
}
.fa-arrow-left{
	margin-left: 30px;
	font-size: 22px;
	color: rgb(169, 169, 169);
	margin-top: 18px;
}
.between-search{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	margin-top: 10px;
	padding-bottom: 5px;
}
.between-search h3:first-child {
	font-size: 16px;
	font-weight:500;
	margin-left: 10px;
}
.between-search h3:nth-child(2) {
	color: #0866FF;
	cursor: pointer;
	padding: 10px;
	font-size: 14px;
}
.between-search h3:nth-child(2):hover{
	background-color: rgb(238, 238, 238);
	border-radius: 4px;
}
/* ------------------------------------------- */
.avatar-search{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin-right: 8px;
}
.close-search-icon{
	position: absolute;
	right: 14px;
	top: 16px;
	border-radius: 50%;
	width: 22px;
	height: 22px;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	color: gray;
	/* font-size: 12px; */
}
.search-item{
	margin-left: 10px;
	margin-right: 5px;
	padding: 6px 5px;
	border-radius: 4px;
	cursor: pointer;
}
.search-item:hover{
	background-color: rgb(238, 238, 238);
}
.close-search-icon:hover {
	background-color: rgb(206, 206, 206);
}
.left-width{
	width: 20%;
}
.right-width {
	width: 20%;
}
.middle-width {
	width: 40%;
}
.nav-item{
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	height: 60px;
	font-size: 18px;
	background-color: white;
	outline: none;
	border: none;
}
.nav-item:focus{
	color: #0866FF;
	border-bottom: 3px solid #0866FF;
}
.right-header-icon{
	width: 40px;
	height: 40px;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	background-color: #F0F2F5;
	border-radius: 50%;
	margin-left: 8px;
	cursor: pointer;
}
.right-header-icon:hover{
	background-color: #b5b5b5;
}
.flex-end {
	display: flex;
	justify-content: flex-end;
}
.message-container{
	height: 0;
	width: 300px;
	background-color: red;
	position: absolute;
	top: 50px;
}
.button-message:focus +.message-container{
	height: 650px;
}
.sidebar{
	width: 20%;
	height: calc(100vh - 60px);
	padding: 10px 8px;
	overflow: auto;
	box-sizing: border-box;
	position: fixed;
	left: 0;
	top: 60px;
}

.sidebar-avatar{
	width: 34px;
	height: 34px;
	border-radius: 50%;
	margin-right: 16px;
}
.sidebar-name{
	font-weight: 500;
	font-size: 16px;
}
.sidebar-item{
	width: 100%;
	padding: 10px 8px;
	box-sizing: border-box;
	border-radius: 8px;
}
.sidebar-item:hover{
	background-color: #e7e7e7;
}
.sidebar-see-more{
	background-color: #F0F2F5;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sidebar-see-more i {
	font-weight: bold;
	margin-top: 3px;
}
.shortcuts{
	border-radius: 8px;
	border: 1px solid #b5b5b5;
}

.shortcuts-title{
	margin-left: 8px;
	color: gray;
	font-weight: 500;
	margin-top: 18px;
	margin-bottom: 10px;
}
.relative{
	position: relative;
	cursor: pointer;
}
.edit-shortcuts{
	position: absolute;
	right: 0;
	display: none;
	top: -8px;
	font-size: 14px;
	padding: 8px 10px;
	background-color: #e5e7e7;
	border-radius: 8px;
	color: #0866FF;
}
.relative:hover> .edit-shortcuts{
	display: block;
}

/* custom scrollbar */
::-webkit-scrollbar {
	width: 20px;
  }
  
  ::-webkit-scrollbar-track {
	background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
  }

.newfeed-container{
	width: 40%;
	height: 2000px;
	margin: auto;
	margin-top: 80px;
}
.right-sidebar{
	width: 20%;
	height: calc(100vh - 60px);
	padding: 10px 8px;
	overflow: auto;
	box-sizing: border-box;
	position: fixed;
	top: 60px;
	right: 0;
}
.body-page{
	display: flex;
	justify-content: space-between;
}
.sponsor{
	display: flex;
	align-items: center;
	font-size: 14px;
}
.sponsor img{
	width: 120px;
	height: 120px;
	border-radius: 8px;
	margin-right: 8px;
}
.sponsor p{
	color: #d6dee1;
}
.ml-0{
	margin-left: 0;
}
.create-story-wrapper{
	width: 140px;
	min-width: 140px;
	height: 250px;
	border-radius: 8px;
	overflow: hidden;
	background-color: none;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	position: relative;
	margin-right: 6px;
}
.avatar-story{
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.create-story-txt{
	font-weight: 500;
	font-size: 14px;
	text-align: center;
	margin-top: 20px;
}
.icon-create-story{
	background-color: white;
	font-size: 20px;
	position: absolute;
	top: 180px;
	left: 50px;
	padding: 3px;
	box-sizing: border-box;
	border-radius: 50%;
}
.icon-create-story i {
	background-color: #0866FF;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}
.story-container{
	display: flex;
	width: 100%;
	overflow: auto;
	padding-bottom: 10px;
}
.bg-image{
	background-image: url(imgs/avatar-master.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.author-avatar-story{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 12px;
	border: 3px solid #0866FF;
}
.author-story{
	color: white;
	font-weight: 500;
	font-size: 14px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.create-post-container{
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	border-radius: 8px;
	width: 100%;
	min-height: 100px;
	margin-top: 20px;
	padding: 10px;
	box-sizing: border-box;
}
.create-post{
	display: flex;
}
.avatar-create-post{
	width: 34px;
	height: 34px;
	border-radius: 50%;
}
.create-post-input{
	width: 100%;
	margin-left: 12px;
	height: 34px;
	border-radius: 20px;
	box-sizing: border-box;
	border: none;
	background-color: #ebeaea;
	outline: none;
	padding-left: 20px;
}
.btn-create-wrapper{
	display: flex;
	justify-content: space-between;
}
.btn-create{
	cursor: pointer;
	display: flex;
	align-items: center;
	width: 32%;
	justify-content: center;
	color: #99a4a7;
	font-weight: 500;
	height: 36px;
	border-radius: 8px;
}
.btn-create:hover{
	background-color: #ededed;
}
.btn-create img {
	width: 26px;
	height: auto;
	margin-right: 8px;
}
.haha-icon{
	font-size: 20px;
	color: rgb(246, 200, 116);
	margin-right: 8px;
}
.post-container{
	margin-top: 20px;
	background-color: white;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	min-height: 500px;
	padding-top: 12px;
}
.post-avatar{
	width: 36px;
	height: 36px;
	border-radius: 50%;
	margin-right: 6px;
}
.post-avatar-wrapper{
	display: flex;
	margin-left: 14px;
    align-items: center;
}
.post-avatar-wrapper h3 {
	font-size: 14px;
	font-weight: 500;
}
.post-avatar-wrapper span {
	font-size: 13px;
	color: #a6a6a6;
}
.paragrap-post{
	font-size: 14px;
	color: #545454;
	margin-left: 12px;
	margin-top: 16px;
	margin-bottom: 12px;
}
.post-img{
	width: 100%;
	height: auto;
}
.humberger-icon{
	display: none;
}

@media only screen and (max-width: 768px) {
	.search {
	  width: 40px;
	}
	.middle-width{
		display: none;
	}
	.humberger-icon{
		display: block;
		height: 40px;
		width: 40px;
		background-color: #d6dee1;
		border-radius: 8px;
		font-size: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.left-width{
		width: fit-content;
	}
	.right-width {
		width: fit-content;
	}
	.middle-width {
		width:  fit-content;
	}
	.sidebar{
		display: none;
	}
	.right-sidebar{
		display: none;
	}
	.newfeed-container{
		width: 100% ;
		margin-top: 80px;
	}
}